.jumbotron {
	background-color: #3c1b2b;
	color: #fec503;
}

.aboutMe {
	background-color: #fffafa;
	background-repeat: repeat;

	border-bottom: 1000px;
	border-bottom: 1px solid #bdbdbd;
}

.projects {
	background-image: url(../resources/geometry.png);
	background-repeat: repeat;
	border-bottom: 1px solid #bdbdbd;
}

.sayHi {
	background-color: #fffafa;
	background-repeat: repeat;
}

.projects h2 {  /* we edit everything of type h2 in the projects destination */
	font-size: 14px;
	font-weight: bold;
	color: #aaa;
}

